* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.box {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 10px solid black;
  background-color: aqua;
  /* box-sizing: border-box; */
}
.Conditional {
  background-color: blue;
  color: azure;
}
.list {
  background-color: red;
  color: white;
}
.usestate {
  padding: 50px;
  margin: 20px;
}

.greeting {
  padding: 100px;
  margin: 20px;
}

.img-container {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}
.Image-container {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  /* background-color: blueviolet; */
  color: aliceblue;
  cursor: pointer;
}

.light {
  background-color: #fff;
  padding: 50px;
}
.black {
  background-color: #333;
  padding: 50px;
}

.Header {
  width: 100%;
  height: 10vh;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* chat appp */
.chatApp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  margin-top: 50px;
  width: 35%;
  background-color: blueviolet;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.chat > textarea,
.chat > input,
.chat > button {
  width: 100%;
  padding: 6px;
}
